@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --rich-black: #0f3b3e;
  --maximum-blue-green: #4fc4cd;
  --chinese-red: #b34627;
  --blue-sapphire: #01547c;
  --blood-red: #630805;
}

html {
  font-size: 62.5%;
  font-family: 'Karla', sans-serif;
}

body {
  font-size: 1.8rem;
}

.sinopse {
  text-align: center;
}

.sinopse h2,
.personagens h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.7rem;
  font-size: 2.5rem;
}

.personagens {
  text-align: center;
}

.personagens h1 {
  margin-bottom: 1rem;
}

.personagens img {
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
